flows.json
[
    {
        "id": "3b186e5e67d66947",
        "type": "tab",
        "label": "Read PAC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0efdf67341d4e0cb",
        "type": "tab",
        "label": "Influx DB write",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "839b4ad968606fb0",
        "type": "tab",
        "label": "PAC3120",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d9995de5c328ea80",
        "type": "subflow",
        "name": "PAC3100",
        "info": "",
        "category": "Meters",
        "in": [
            {
                "x": 20,
                "y": 200,
                "wires": [
                    {
                        "id": "1d40d1e73516d9e5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1200,
                "y": 360,
                "wires": [
                    {
                        "id": "4acf56f21faf5745",
                        "port": 0
                    }
                ]
            },
            {
                "x": 250,
                "y": 440,
                "wires": [
                    {
                        "id": "04924e8f7103c56a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "FIELDS",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-area-chart",
                    "label": {
                        "en-US": "Fields"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Voltages"
                                },
                                "v": "voltages"
                            },
                            {
                                "l": {
                                    "en-US": "Currents"
                                },
                                "v": "currents"
                            },
                            {
                                "l": {
                                    "en-US": "Energy"
                                },
                                "v": "energy"
                            },
                            {
                                "l": {
                                    "en-US": "Aparent Power"
                                },
                                "v": "aparent_power"
                            },
                            {
                                "l": {
                                    "en-US": "Active Power"
                                },
                                "v": "active_power"
                            },
                            {
                                "l": {
                                    "en-US": "Reactive Power"
                                },
                                "v": "reactive_power"
                            },
                            {
                                "l": {
                                    "en-US": "Maximun"
                                },
                                "v": "maximun"
                            }
                        ]
                    }
                }
            },
            {
                "name": "MEASUREMENT",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-user-circle-o",
                    "label": {
                        "en-US": "Name Measurement"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "LOCATION",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-globe",
                    "label": {
                        "en-US": "Location"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "OPERATION",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-industry",
                    "label": {
                        "en-US": "Operation"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "PAC3100",
            "version": "0.1.0",
            "author": "S&G Soluciones de Ingenieria",
            "desc": "Modulo para preparacion de mediciones por medio de PAC3100 mediante Modbus TCPIP",
            "keywords": "SIEMENS, PAC",
            "license": "MIT"
        },
        "color": "#3FADB5",
        "inputLabels": [
            "Modbus Data"
        ],
        "outputLabels": [
            "Data to Influx Format",
            "Errors"
        ],
        "icon": "font-awesome/fa-tachometer",
        "status": {
            "x": 220,
            "y": 480,
            "wires": [
                {
                    "id": "b055f5941e63fa82",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "79c765de94608626",
        "type": "subflow",
        "name": "Getter PAC3120 Double",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 120,
                "wires": [
                    {
                        "id": "509aee568d7020d3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 120,
                "wires": [
                    {
                        "id": "37c3927a5fba439a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "MEASUREMENT",
                "type": "str",
                "value": "Value",
                "ui": {
                    "label": {
                        "en-US": "measurement"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Label"
                                },
                                "v": "Value"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#A6BBCF",
        "inputLabels": [
            "Modbus Flex Getter Double"
        ],
        "outputLabels": [
            "Influxdb"
        ],
        "icon": "node-red/arrow-in.svg",
        "status": {
            "x": 320,
            "y": 360,
            "wires": [
                {
                    "id": "6c30611ca9d7d25f",
                    "port": 0
                },
                {
                    "id": "e87d6a3296ea8989",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "2f7d495596847cc6",
        "type": "subflow",
        "name": "PAC3120",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "9279c3243f424031"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1180,
                "y": 80,
                "wires": [
                    {
                        "id": "af11402378abbe7a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "FIELDS",
                "type": "str",
                "value": "Tension L1-N",
                "ui": {
                    "label": {
                        "en-US": "field"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Tension L1-N"
                                },
                                "v": "Tension L1-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension L2-N"
                                },
                                "v": "Tension L2-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension L3-N"
                                },
                                "v": "Tension L3-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension L1-L2"
                                },
                                "v": "Tension L1-L2"
                            },
                            {
                                "l": {
                                    "en-US": "Tension L2-L3"
                                },
                                "v": "Tension L2-L3"
                            },
                            {
                                "l": {
                                    "en-US": "Tension L3-L1"
                                },
                                "v": "Tension L3-L1"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente L1"
                                },
                                "v": "Corriente L1"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente L2"
                                },
                                "v": "Corriente L2"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente L3"
                                },
                                "v": "Corriente L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente L1"
                                },
                                "v": "Potencia aparente L1"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente L2"
                                },
                                "v": "Potencia aparente L2"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente L3"
                                },
                                "v": "Potencia aparente L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa L1"
                                },
                                "v": "Potencia activa L1"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa L2"
                                },
                                "v": "Potencia activa L2"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa L3"
                                },
                                "v": "Potencia activa L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva L1 (Q1)"
                                },
                                "v": "Potencia reactiva L1 (Q1)"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva L1 (Q1)"
                                },
                                "v": "Potencia reactiva L1 (Q1)"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva L1 (Q1)"
                                },
                                "v": "Potencia reactiva L1 (Q1)"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia L1"
                                },
                                "v": "Factor de potencia L1"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia L2"
                                },
                                "v": "Factor de potencia L2"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia L3"
                                },
                                "v": "Factor de potencia L3"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R en tension L1"
                                },
                                "v": "THD-R en tension L1"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R en tension L2"
                                },
                                "v": "THD-R en tension L2"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R en tension L3"
                                },
                                "v": "THD-R en tension L3"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R en corriente L1"
                                },
                                "v": "THD-R en corriente L1"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R en corriente L2"
                                },
                                "v": "THD-R en corriente L2"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R en corriente L3"
                                },
                                "v": "THD-R en corriente L3"
                            },
                            {
                                "l": {
                                    "en-US": "Frecuencia"
                                },
                                "v": "Frecuencia"
                            },
                            {
                                "l": {
                                    "en-US": "Tension media UL-N"
                                },
                                "v": "Tension media UL-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension media UL-L"
                                },
                                "v": "Tension media UL-L"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente media"
                                },
                                "v": "Corriente media"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente total"
                                },
                                "v": "Potencia aparente total"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa total"
                                },
                                "v": "Potencia activa total"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva total"
                                },
                                "v": "Potencia reactiva total"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia total"
                                },
                                "v": "Factor de potencia total"
                            },
                            {
                                "l": {
                                    "en-US": "Desbalance de amplitudes de tension"
                                },
                                "v": "Desbalance de amplitudes de tension"
                            },
                            {
                                "l": {
                                    "en-US": "Desbalance de amplitudes de corriente"
                                },
                                "v": "Desbalance de amplitudes de corriente"
                            },
                            {
                                "l": {
                                    "en-US": "Tension maxima L1-N"
                                },
                                "v": "Tension maxima L1-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension maxima L2-N"
                                },
                                "v": "Tension maxima L2-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension maxima L3-N"
                                },
                                "v": "Tension maxima L3-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension maxima L1-L2"
                                },
                                "v": "Tension maxima L1-L2"
                            },
                            {
                                "l": {
                                    "en-US": "Tension maxima L2-L1"
                                },
                                "v": "Tension maxima L2-L1"
                            },
                            {
                                "l": {
                                    "en-US": "Tension maxima L3-L1"
                                },
                                "v": "Tension maxima L3-L1"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente maxima L1"
                                },
                                "v": "Corriente maxima L1"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente maxima L2"
                                },
                                "v": "Corriente maxima L2"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente maxima L3"
                                },
                                "v": "Corriente maxima L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente maxima L1"
                                },
                                "v": "Potencia aparente maxima L1"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente maxima L2"
                                },
                                "v": "Potencia aparente maxima L2"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente maxima L3"
                                },
                                "v": "Potencia aparente maxima L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa maxima L1"
                                },
                                "v": "Potencia activa maxima L1"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa maxima L2"
                                },
                                "v": "Potencia activa maxima L2"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa maxima L3"
                                },
                                "v": "Potencia activa maxima L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva maxima L1 (Qn)"
                                },
                                "v": "Potencia reactiva maxima L1 (Qn)"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva maxima L1 (Qn)"
                                },
                                "v": "Potencia reactiva maxima L1 (Qn)"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva maxima L1 (Qn)"
                                },
                                "v": "Potencia reactiva maxima L1 (Qn)"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia maximo L1"
                                },
                                "v": "Factor de potencia maximo L1"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia maximo L2"
                                },
                                "v": "Factor de potencia maximo L2"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia maximo L3"
                                },
                                "v": "Factor de potencia maximo L3"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R maxima en tension L1-L2"
                                },
                                "v": "THD-R maxima en tension L1-L2"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R maxima en tension L2-L3"
                                },
                                "v": "THD-R maxima en tension L2-L3"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R maxima en tension L3-L1"
                                },
                                "v": "THD-R maxima en tension L3-L1"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R maxima en corriente L1"
                                },
                                "v": "THD-R maxima en corriente L1"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R maxima en corriente L2"
                                },
                                "v": "THD-R maxima en corriente L2"
                            },
                            {
                                "l": {
                                    "en-US": "THD-R maxima en corriente L3"
                                },
                                "v": "THD-R maxima en corriente L3"
                            },
                            {
                                "l": {
                                    "en-US": "Frecuencia maxima"
                                },
                                "v": "Frecuencia maxima"
                            },
                            {
                                "l": {
                                    "en-US": "Tension media max. UL-N"
                                },
                                "v": "Tension media max. UL-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension media max. UL-L"
                                },
                                "v": "Tension media max. UL-L"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente media max."
                                },
                                "v": "Corriente media max."
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente total maxima"
                                },
                                "v": "Potencia aparente total maxima"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa total maxima"
                                },
                                "v": "Potencia activa total maxima"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva total maxima (Qn)"
                                },
                                "v": "Potencia reactiva total maxima (Qn)"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia total maximo"
                                },
                                "v": "Factor de potencia total maximo"
                            },
                            {
                                "l": {
                                    "en-US": "Tension minima L1-N"
                                },
                                "v": "Tension minima L1-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension minima L2-N"
                                },
                                "v": "Tension minima L2-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension minima L3-N"
                                },
                                "v": "Tension minima L3-N"
                            },
                            {
                                "l": {
                                    "en-US": "Tension minima L1-L2"
                                },
                                "v": "Tension minima L1-L2"
                            },
                            {
                                "l": {
                                    "en-US": "Tension minima L2-L1"
                                },
                                "v": "Tension minima L2-L1"
                            },
                            {
                                "l": {
                                    "en-US": "Tension minima L3-L1"
                                },
                                "v": "Tension minima L3-L1"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente minima L1"
                                },
                                "v": "Corriente minima L1"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente minima L2"
                                },
                                "v": "Corriente minima L2"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente minima L3"
                                },
                                "v": "Corriente minima L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente minima L1"
                                },
                                "v": "Potencia aparente minima L1"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente minima L2"
                                },
                                "v": "Potencia aparente minima L2"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente minima L3"
                                },
                                "v": "Potencia aparente minima L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa minima L1"
                                },
                                "v": "Potencia activa minima L1"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa minima L2"
                                },
                                "v": "Potencia activa minima L2"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa minima L3"
                                },
                                "v": "Potencia activa minima L3"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva minima L1 (Qn)"
                                },
                                "v": "Potencia reactiva minima L1 (Qn)"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva minima L1 (Qn)"
                                },
                                "v": "Potencia reactiva minima L1 (Qn)"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva minima L1 (Qn)"
                                },
                                "v": "Potencia reactiva minima L1 (Qn)"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia minimo L1"
                                },
                                "v": "Factor de potencia minimo L1"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia minimo L2"
                                },
                                "v": "Factor de potencia minimo L2"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia minimo L3"
                                },
                                "v": "Factor de potencia minimo L3"
                            },
                            {
                                "l": {
                                    "en-US": "Frecuencia minima"
                                },
                                "v": "Frecuencia minima"
                            },
                            {
                                "l": {
                                    "en-US": "Tension media min. UL"
                                },
                                "v": "Tension media min. UL"
                            },
                            {
                                "l": {
                                    "en-US": "Tension media min. UL-L"
                                },
                                "v": "Tension media min. UL-L"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente media min."
                                },
                                "v": "Corriente media min."
                            },
                            {
                                "l": {
                                    "en-US": "Potencia aparente total minima"
                                },
                                "v": "Potencia aparente total minima"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia activa total minima"
                                },
                                "v": "Potencia activa total minima"
                            },
                            {
                                "l": {
                                    "en-US": "Potencia reactiva total minima (Qn)"
                                },
                                "v": "Potencia reactiva total minima (Qn)"
                            },
                            {
                                "l": {
                                    "en-US": "Factor de potencia total minimo"
                                },
                                "v": "Factor de potencia total minimo"
                            },
                            {
                                "l": {
                                    "en-US": "Infracciones de limites"
                                },
                                "v": "Infracciones de limites"
                            },
                            {
                                "l": {
                                    "en-US": "Diagnostico PMD y estado"
                                },
                                "v": "Diagnostico PMD y estado"
                            },
                            {
                                "l": {
                                    "en-US": "Estado de salidas digitales"
                                },
                                "v": "Estado de salidas digitales"
                            },
                            {
                                "l": {
                                    "en-US": "Estado de entradas digitales"
                                },
                                "v": "Estado de entradas digitales"
                            },
                            {
                                "l": {
                                    "en-US": "Tarifa activa"
                                },
                                "v": "Tarifa activa"
                            },
                            {
                                "l": {
                                    "en-US": "Contador de horas de funcionamiento"
                                },
                                "v": "Contador de horas de funcionamiento"
                            },
                            {
                                "l": {
                                    "en-US": "Contador (configurable)"
                                },
                                "v": "Contador (configurable)"
                            },
                            {
                                "l": {
                                    "en-US": "Contador de cambios en parametros basicos"
                                },
                                "v": "Contador de cambios en parametros basicos"
                            },
                            {
                                "l": {
                                    "en-US": "Contador de cambios en todos los parametros"
                                },
                                "v": "Contador de cambios en todos los parametros"
                            },
                            {
                                "l": {
                                    "en-US": "Contador de cambios de limites"
                                },
                                "v": "Contador de cambios de limites"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente N"
                                },
                                "v": "Corriente N"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente maxima N"
                                },
                                "v": "Corriente maxima N"
                            },
                            {
                                "l": {
                                    "en-US": "Corriente minima N"
                                },
                                "v": "Corriente minima N"
                            },
                            {
                                "l": {
                                    "en-US": "Contador de energia configurable"
                                },
                                "v": "Contador de energia configurable"
                            },
                            {
                                "l": {
                                    "en-US": "Estado de salidas digitales, modulo 1"
                                },
                                "v": "Estado de salidas digitales, modulo 1"
                            },
                            {
                                "l": {
                                    "en-US": "Estado de entradas digitales, modulo 1"
                                },
                                "v": "Estado de entradas digitales, modulo 1"
                            },
                            {
                                "l": {
                                    "en-US": "Estado de salidas digitales, modulo 2"
                                },
                                "v": "Estado de salidas digitales, modulo 2"
                            },
                            {
                                "l": {
                                    "en-US": "Estado de entradas digitales, modulo 2"
                                },
                                "v": "Estado de entradas digitales, modulo 2"
                            },
                            {
                                "l": {
                                    "en-US": "Media de potencia activa acumulada importada"
                                },
                                "v": "Media de potencia activa acumulada importada"
                            },
                            {
                                "l": {
                                    "en-US": "Media de potencia reactiva acumulada"
                                },
                                "v": "Media de potencia reactiva acumulada"
                            },
                            {
                                "l": {
                                    "en-US": "Media de potencia activa acumulada exportada"
                                },
                                "v": "Media de potencia activa acumulada exportada"
                            },
                            {
                                "l": {
                                    "en-US": "Media de potencia reactiva acumulada exportada"
                                },
                                "v": "Media de potencia reactiva acumulada exportada"
                            },
                            {
                                "l": {
                                    "en-US": "Valor max. de potencia activa en el periodo de demanda"
                                },
                                "v": "Valor max. de potencia activa en el periodo de demanda"
                            },
                            {
                                "l": {
                                    "en-US": "Valor min. de potencia activa en el periodo de demanda"
                                },
                                "v": "Valor min. de potencia activa en el periodo de demanda"
                            },
                            {
                                "l": {
                                    "en-US": "Valor max. de potencia reactiva en el periodo de demanda"
                                },
                                "v": "Valor max. de potencia reactiva en el periodo de demanda"
                            },
                            {
                                "l": {
                                    "en-US": "Valor min. de potencia reactiva en el periodo de demanda"
                                },
                                "v": "Valor min. de potencia reactiva en el periodo de demanda"
                            },
                            {
                                "l": {
                                    "en-US": "Duracion del periodo de demanda periodo actual"
                                },
                                "v": "Duracion del periodo de demanda periodo actual"
                            },
                            {
                                "l": {
                                    "en-US": "Tiempo desde comienzo de periodo de demanda actual"
                                },
                                "v": "Tiempo desde comienzo de periodo de demanda actual"
                            },
                            {
                                "l": {
                                    "en-US": "Fecha/hora"
                                },
                                "v": "Fecha/hora"
                            },
                            {
                                "l": {
                                    "en-US": "Energia activa total importada, tarifa 1"
                                },
                                "v": "Energia activa total importada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "Energia activa total importada, tarifa 2"
                                },
                                "v": "Energia activa total importada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "Energia activa total exportada, tarifa 1"
                                },
                                "v": "Energia activa total exportada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "Energia activa total exportada, tarifa 2"
                                },
                                "v": "Energia activa total exportada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "Energia reactiva total importada, tarifa 1"
                                },
                                "v": "Energia reactiva total importada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "Energia reactiva total importada, tarifa 2"
                                },
                                "v": "Energia reactiva total importada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "Energia reactiva total exportada, tarifa 1"
                                },
                                "v": "Energia reactiva total exportada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "Energia reactiva total exportada, tarifa 2"
                                },
                                "v": "Energia reactiva total exportada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "Energia aparente total, tarifa 1"
                                },
                                "v": "Energia aparente total, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "Energia aparente total, tarifa 2"
                                },
                                "v": "Energia aparente total, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia activa importada, tarifa 1"
                                },
                                "v": "L1 energia activa importada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia activa importada, tarifa 2"
                                },
                                "v": "L1 energia activa importada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia activa exportada, tarifa 1"
                                },
                                "v": "L1 energia activa exportada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia activa exportada, tarifa 2"
                                },
                                "v": "L1 energia activa exportada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia reactiva importada, tarifa 1"
                                },
                                "v": "L1 energia reactiva importada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia reactiva importada, tarifa 2"
                                },
                                "v": "L1 energia reactiva importada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia reactiva exportada, tarifa 1"
                                },
                                "v": "L1 energia reactiva exportada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia reactiva exportada, tarifa 2"
                                },
                                "v": "L1 energia reactiva exportada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia aparente, tarifa 1"
                                },
                                "v": "L1 energia aparente, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L1 energia aparente, tarifa 2"
                                },
                                "v": "L1 energia aparente, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia activa importada, tarifa 1"
                                },
                                "v": "L2 energia activa importada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia activa importada, tarifa 2"
                                },
                                "v": "L2 energia activa importada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia activa exportada, tarifa 1"
                                },
                                "v": "L2 energia activa exportada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia activa exportada, tarifa 2"
                                },
                                "v": "L2 energia activa exportada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia reactiva importada, tarifa 1"
                                },
                                "v": "L2 energia reactiva importada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia reactiva importada, tarifa 2"
                                },
                                "v": "L2 energia reactiva importada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia reactiva exportada, tarifa 1"
                                },
                                "v": "L2 energia reactiva exportada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia reactiva exportada, tarifa 2"
                                },
                                "v": "L2 energia reactiva exportada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia aparente, tarifa 1"
                                },
                                "v": "L2 energia aparente, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L2 energia aparente, tarifa 2"
                                },
                                "v": "L2 energia aparente, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia activa importada, tarifa 1"
                                },
                                "v": "L3 energia activa importada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia activa importada, tarifa 2"
                                },
                                "v": "L3 energia activa importada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia activa exportada, tarifa 1"
                                },
                                "v": "L3 energia activa exportada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia activa exportada, tarifa 2"
                                },
                                "v": "L3 energia activa exportada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia reactiva importada, tarifa 1"
                                },
                                "v": "L3 energia reactiva importada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia reactiva importada, tarifa 2"
                                },
                                "v": "L3 energia reactiva importada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia reactiva exportada, tarifa 1"
                                },
                                "v": "L3 energia reactiva exportada, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia reactiva exportada, tarifa 2"
                                },
                                "v": "L3 energia reactiva exportada, tarifa 2"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia aparente, tarifa 1"
                                },
                                "v": "L3 energia aparente, tarifa 1"
                            },
                            {
                                "l": {
                                    "en-US": "L3 energia aparente, tarifa 2"
                                },
                                "v": "L3 energia aparente, tarifa 2"
                            }
                        ]
                    }
                }
            },
            {
                "name": "MEASUREMENT",
                "type": "str",
                "value": "PAC3120",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "LOCATION",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "OPERATION",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#A6BBCF",
        "inputLabels": [
            "Inject"
        ],
        "outputLabels": [
            "Modbus Flex Getter"
        ],
        "icon": "font-awesome/fa-power-off",
        "status": {
            "x": 280,
            "y": 280,
            "wires": [
                {
                    "id": "a918ad0fee360bf4",
                    "port": 0
                },
                {
                    "id": "b0bdb7126ead267e",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "b653d8ea62c0e0fd",
        "type": "subflow",
        "name": "Getter PAC3120",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "6e7bced7ece66dc8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 80,
                "wires": [
                    {
                        "id": "fd1e75ae7f005c1f",
                        "port": 0
                    },
                    {
                        "id": "aa819b2ac5528b30",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#A6BBCF",
        "inputLabels": [
            "Modbus Flex Getter Raw"
        ],
        "outputLabels": [
            "Influx DB"
        ],
        "icon": "node-red/arrow-in.svg",
        "status": {
            "x": 300,
            "y": 300,
            "wires": [
                {
                    "id": "4f97854e4dca6d9b",
                    "port": 0
                },
                {
                    "id": "8cc9825192f70f66",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "107720c2d51142a8",
        "type": "group",
        "z": "d9995de5c328ea80",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "78b9dd998a8c4015",
            "39b3da77f33f92f7",
            "e6dc5cc01d0a16eb",
            "a86d7d2b51f0994b",
            "2cb11ccf52a41f1d",
            "24fedbd0b8a49480",
            "ee40d444af64e09f",
            "97394628d9af5a6e",
            "e06f8ba3b3d289ab",
            "b1fbd9e111aa2001",
            "dcd66e61f4297ec3",
            "5207cca9982dee05",
            "8e693a9a2be3d805",
            "55cbd0038b829710",
            "a98aa59aae751b84",
            "1d40d1e73516d9e5"
        ],
        "x": 74,
        "y": 39,
        "w": 692,
        "h": 322
    },
    {
        "id": "d5746775f9c123dc",
        "type": "group",
        "z": "839b4ad968606fb0",
        "name": "",
        "style": {
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "d37435b305574a3c",
            "1c5fef79c9cbdd5a",
            "fb6171c3b81a634d",
            "5111677f905fd3ca",
            "06cc89108ec8e303",
            "bc2c87999bfb01b1"
        ],
        "x": 214,
        "y": 59,
        "w": 172,
        "h": 382
    },
    {
        "id": "162c23daca893dea",
        "type": "group",
        "z": "839b4ad968606fb0",
        "name": "",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "e5b5ddbdf1d4afdb",
            "a5e7a8a52a988c24",
            "9ebbe76b3c443dd5"
        ],
        "x": 214,
        "y": 459,
        "w": 172,
        "h": 202
    },
    {
        "id": "f654a5bf4947aba9",
        "type": "group",
        "z": "839b4ad968606fb0",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "15da02d8888b957f",
            "da3d2d3271a37bdf",
            "0972c45b6bddcffd"
        ],
        "x": 214,
        "y": 1099,
        "w": 172,
        "h": 202
    },
    {
        "id": "df86fd4d2cb2aba2",
        "type": "group",
        "z": "839b4ad968606fb0",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "46869232d90d0307",
            "ad0fc14d73d7fc39",
            "97b59d879caad1e7",
            "4485af6a28cf9dae",
            "d60b567f4abc24ab"
        ],
        "x": 214,
        "y": 679,
        "w": 172,
        "h": 322
    },
    {
        "id": "3d6654dd538c3a69",
        "type": "modbus-client",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.3.0.124",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "297134d2189fba48",
        "type": "influxdb",
        "z": "0efdf67341d4e0cb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Conexion Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": false
    },
    {
        "id": "80444d4b22966a9d",
        "type": "modbus-client",
        "z": "839b4ad968606fb0",
        "name": "PAC3100",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.3.0.124",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "97394628d9af5a6e",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "",
        "property": "FIELDS",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "voltages",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "e7a1c46e3b678d69"
            ]
        ]
    },
    {
        "id": "e7a1c46e3b678d69",
        "type": "change",
        "z": "d9995de5c328ea80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "typeField",
                "pt": "msg",
                "to": "FIELDS",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 200,
        "wires": [
            [
                "3ee5b135f86fa2a0"
            ]
        ]
    },
    {
        "id": "e06f8ba3b3d289ab",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "",
        "property": "FIELDS",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "currents",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "e7a1c46e3b678d69"
            ]
        ]
    },
    {
        "id": "b1fbd9e111aa2001",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "",
        "property": "FIELDS",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "aparent_power",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "e7a1c46e3b678d69"
            ]
        ]
    },
    {
        "id": "dcd66e61f4297ec3",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "",
        "property": "FIELDS",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "active_power",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "e7a1c46e3b678d69"
            ]
        ]
    },
    {
        "id": "5207cca9982dee05",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "",
        "property": "FIELDS",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "reactive_power",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 240,
        "wires": [
            [
                "e7a1c46e3b678d69"
            ]
        ]
    },
    {
        "id": "8e693a9a2be3d805",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "",
        "property": "FIELDS",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "energy",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "e7a1c46e3b678d69"
            ]
        ]
    },
    {
        "id": "55cbd0038b829710",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "",
        "property": "FIELDS",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "maximun",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "e7a1c46e3b678d69"
            ]
        ]
    },
    {
        "id": "a98aa59aae751b84",
        "type": "function",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "TS( )",
        "func": "\nmsg.timestamp= new Date()\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "a86d7d2b51f0994b",
                "e6dc5cc01d0a16eb",
                "39b3da77f33f92f7",
                "78b9dd998a8c4015",
                "2cb11ccf52a41f1d",
                "24fedbd0b8a49480",
                "ee40d444af64e09f"
            ]
        ],
        "icon": "node-red/timer.svg"
    },
    {
        "id": "04924e8f7103c56a",
        "type": "catch",
        "z": "d9995de5c328ea80",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b055f5941e63fa82",
        "type": "status",
        "z": "d9995de5c328ea80",
        "name": "",
        "scope": null,
        "x": 80,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1d40d1e73516d9e5",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "chkError",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "a98aa59aae751b84"
            ]
        ],
        "icon": "font-awesome/fa-stop-circle-o"
    },
    {
        "id": "3ee5b135f86fa2a0",
        "type": "switch",
        "z": "d9995de5c328ea80",
        "name": "chkErrorMessage",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "09749d4ef25bc1ba"
            ]
        ],
        "icon": "font-awesome/fa-stop-circle"
    },
    {
        "id": "4acf56f21faf5745",
        "type": "function",
        "z": "d9995de5c328ea80",
        "name": "Form Data",
        "func": "const measurement = env.get(\"MEASUREMENT\")\nconst location = env.get(\"LOCATION\")\nconst operation = env.get(\"OPERATION\")\n\n\nmsg.payload = [\n    {\n        measurement: measurement,\n        fields: msg.payload,\n        tags: {\n            location: location,\n            operation: operation,\n            typeField: msg.typeField\n        },\n        timestamp: new Date(msg.timestamp)}\n];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "09749d4ef25bc1ba",
        "type": "function",
        "z": "d9995de5c328ea80",
        "name": "dot",
        "func": "node.status({ fill: \"green\", shape: \"dot\", text: msg.typeField });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "4acf56f21faf5745"
            ]
        ]
    },
    {
        "id": "78b9dd998a8c4015",
        "type": "buffer-parser",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "Voltages",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Voltage a-n",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Voltage b-n ",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Voltage c-n ",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Voltage a-b ",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Voltage b-c ",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Voltage c-a ",
                "offset": 20,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "97394628d9af5a6e"
            ]
        ]
    },
    {
        "id": "39b3da77f33f92f7",
        "type": "buffer-parser",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "Currents",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Current a ",
                "offset": 24,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Current b ",
                "offset": 28,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Current c ",
                "offset": 32,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "e06f8ba3b3d289ab"
            ]
        ]
    },
    {
        "id": "e6dc5cc01d0a16eb",
        "type": "buffer-parser",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "Aparent Powers",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Apparent power a",
                "offset": 36,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Apparent power b ",
                "offset": 40,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Apparent power c ",
                "offset": 44,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "b1fbd9e111aa2001"
            ]
        ]
    },
    {
        "id": "a86d7d2b51f0994b",
        "type": "buffer-parser",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "Active Powers",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Active power a ",
                "offset": 48,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Active power b",
                "offset": 52,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Active power c ",
                "offset": 56,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "dcd66e61f4297ec3"
            ]
        ]
    },
    {
        "id": "2cb11ccf52a41f1d",
        "type": "buffer-parser",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "Reactive Powers",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Reactive power a (VAR1) ",
                "offset": 60,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive power b (VAR1)",
                "offset": 64,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive power c (VAR1)",
                "offset": 68,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "5207cca9982dee05"
            ]
        ]
    },
    {
        "id": "24fedbd0b8a49480",
        "type": "buffer-parser",
        "z": "d9995de5c328ea80",
        "g": "107720c2d51142a8",
        "name": "Energy",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Frequency ",
                "offset": 108,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Total apparent power ",
                "offset": 124,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Total active power ",
                "offset": 128,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Total reactive power (VAR1) ",
                "offset": 132,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Total power factor ",
                "offset": 136,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "8e693a9a2be3d805"
            ]
        ]
    },
    {
        "id": "ee40d444af64e09f",
        "type": "buffer-parser",
        "z": "d9995de5c328ea80",
        "d": true,
        "g": "107720c2d51142a8",
        "name": "Maximum",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Maximum voltage a-n ",
                "offset": 108,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Maximum voltage b-n ",
                "offset": 112,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Maximum voltage c-n ",
                "offset": 116,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Max. voltage a-b ",
                "offset": 120,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Max. voltage b-c",
                "offset": 124,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Max. voltage c-a ",
                "offset": 128,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Maximum current a",
                "offset": 132,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Maximum current b ",
                "offset": 136,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Maximum current c ",
                "offset": 140,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Maximum active power a ",
                "offset": 144,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": " Maximum active power b ",
                "offset": 148,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Maximum active power c ",
                "offset": 152,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "55cbd0038b829710"
            ]
        ]
    },
    {
        "id": "509aee568d7020d3",
        "type": "buffer-parser",
        "z": "79c765de94608626",
        "name": "",
        "data": "payload.buffer",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "doublebe",
                "name": "item",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "1e0cbf648a466bd2"
            ]
        ]
    },
    {
        "id": "1e0cbf648a466bd2",
        "type": "switch",
        "z": "79c765de94608626",
        "name": "chkErrorMessage",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "6e8cabf8f06716aa"
            ]
        ],
        "icon": "font-awesome/fa-stop-circle"
    },
    {
        "id": "37c3927a5fba439a",
        "type": "function",
        "z": "79c765de94608626",
        "name": "Form Data",
        "func": "const topic = msg.topic;  \nconst payload = msg.payload;  \nmsg.payload = [  \n    {  \n        measurement: topic.measurement,  \n        fields: {[topic.fields]: payload.item},\n        tags: {  \n            location: topic.location,  \n            operation: topic.operation,  \n            typeField: topic.typeField  \n        },  \n        timestamp: new Date(topic.timestamp)  \n    }  \n];  \nreturn msg;  ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6e8cabf8f06716aa",
        "type": "function",
        "z": "79c765de94608626",
        "name": "dot",
        "func": "const topic = msg.topic\nnode.status({ fill: \"green\", shape: \"dot\", text: topic.fields });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 120,
        "wires": [
            [
                "37c3927a5fba439a"
            ]
        ]
    },
    {
        "id": "6c30611ca9d7d25f",
        "type": "catch",
        "z": "79c765de94608626",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e87d6a3296ea8989",
        "type": "status",
        "z": "79c765de94608626",
        "name": "",
        "scope": null,
        "x": 160,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9279c3243f424031",
        "type": "template",
        "z": "2f7d495596847cc6",
        "name": "JSON PAC3120",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    {\n        \"Offset\": 1,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension L1-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 3,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension L2-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 5,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension L3-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 7,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension L1-L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 9,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension L2-L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 11,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension L3-L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 13,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 15,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 17,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 19,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 21,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 23,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 25,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 27,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 29,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 31,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva L1 (Q1)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 33,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva L1 (Q1)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 35,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva L1 (Q1)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 37,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 39,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 41,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 43,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R en tension L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 45,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R en tension L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 47,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R en tension L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 49,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R en corriente L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 51,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R en corriente L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 53,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R en corriente L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 55,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Frecuencia\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"Hz\",\n        \"Rango admitido\": \"45  65\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Frecuencias\"\n    },\n    {\n        \"Offset\": 57,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension media UL-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 59,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension media UL-L\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 61,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente media\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 63,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente total\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 65,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa total\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 67,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva total\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 69,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia total\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 71,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Desbalance de amplitudes de tension\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 73,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Desbalance de amplitudes de corriente\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  200\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 75,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension maxima L1-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 77,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension maxima L2-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 79,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension maxima L3-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 81,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension maxima L1-L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 83,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension maxima L2-L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 85,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension maxima L3-L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 87,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente maxima L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 89,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente maxima L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 91,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente maxima L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 93,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente maxima L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 95,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente maxima L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 97,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente maxima L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 99,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa maxima L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 101,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa maxima L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 103,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa maxima L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 105,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva maxima L1 (Qn)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 107,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva maxima L1 (Qn)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 109,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva maxima L1 (Qn)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 111,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia maximo L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 113,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia maximo L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 115,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia maximo L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 117,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R maxima en tension L1-L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 119,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R maxima en tension L2-L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 121,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R maxima en tension L3-L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 123,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R maxima en corriente L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 125,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R maxima en corriente L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 127,\n        \"Cantidad\": 2,\n        \"Nombre\": \"THD-R maxima en corriente L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"%\",\n        \"Rango admitido\": \"0  100\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Calidad\"\n    },\n    {\n        \"Offset\": 129,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Frecuencia maxima\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"45  65\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Frecuencias\"\n    },\n    {\n        \"Offset\": 131,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension media max. UL-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 133,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension media max. UL-L\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 135,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente media max.\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 137,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente total maxima\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 139,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa total maxima\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 141,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva total maxima (Qn)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 143,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia total maximo\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 145,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension minima L1-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 147,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension minima L2-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 149,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension minima L3-N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 151,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension minima L1-L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 153,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension minima L2-L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 155,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension minima L3-L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 157,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente minima L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 159,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente minima L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 161,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente minima L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 163,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente minima L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 165,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente minima L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 167,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente minima L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 169,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa minima L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 171,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa minima L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 173,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa minima L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 175,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva minima L1 (Qn)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 177,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva minima L1 (Qn)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 179,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva minima L1 (Qn)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 181,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia minimo L1\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 183,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia minimo L2\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 185,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia minimo L3\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 187,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Frecuencia minima\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"Hz\",\n        \"Rango admitido\": \"45  65\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Frecuencias\"\n    },\n    {\n        \"Offset\": 189,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension media min. UL\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 191,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tension media min. UL-L\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"V\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Tensiones\"\n    },\n    {\n        \"Offset\": 193,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente media min.\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 195,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia aparente total minima\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"VA\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 197,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia activa total minima\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 199,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Potencia reactiva total minima (Qn)\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Potencias\"\n    },\n    {\n        \"Offset\": 201,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Factor de potencia total minimo\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Factores de potencia\"\n    },\n    {\n        \"Offset\": 203,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Infracciones de limites\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"Byte3 Bit0 Limit 0 Byte3 Bit1 Limit 1 Byte3 Bit2 Limit 2 Byte3 Bit3 Limit 3 Byte3 Bit4 Limit 4 Byte3 Bit5 Limit 5\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 205,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Diagnostico PMD y estado\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"Byte0 global state Byte1 local state Byte2 global diag.\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 207,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Estado de salidas digitales\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"Byte3 Bit0 Output 0.0\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 209,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Estado de entradas digitales\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"Byte3 Bit0 Input 0.0\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 211,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tarifa activa\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0 = Tarifa 1\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 213,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Contador de horas de funcionamiento\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"s\",\n        \"Rango admitido\": \"0  999999999\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Totalizadores\"\n    },\n    {\n        \"Offset\": 215,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Contador (configurable)\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"0  999999999\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Totalizadores\"\n    },\n    {\n        \"Offset\": 217,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Contador de cambios en parametros basicos\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Totalizadores\"\n    },\n    {\n        \"Offset\": 219,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Contador de cambios en todos los parametros\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Totalizadores\"\n    },\n    {\n        \"Offset\": 221,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Contador de cambios de limites\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Totalizadores\"\n    },\n    {\n        \"Offset\": 223,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 225,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente maxima N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 227,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Corriente minima N\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"A\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Corrientes\"\n    },\n    {\n        \"Offset\": 231,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Contador de energia configurable\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"kWh,\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Totalizadores\"\n    },\n    {\n        \"Offset\": 233,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Estado de salidas digitales, modulo 1\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"Byte3 Bit0 Output 4.0\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 235,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Estado de entradas digitales, modulo 1\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"Byte3 Bit0 Input 4.0 Byte3 Bit1 Input 4.1 Byte3 Bit2 Input 4.2\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 237,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Estado de salidas digitales, modulo 2\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"Byte3 Bit0 Output 8.0\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 239,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Estado de entradas digitales, modulo 2\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"Byte3 Bit0 Input 8.0 Byte3 Bit1 Input 8.1 Byte3 Bit2 Input 8.2\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 501,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Media de potencia activa acumulada importada\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 503,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Media de potencia reactiva acumulada\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 505,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Media de potencia activa acumulada exportada\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 507,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Media de potencia reactiva acumulada exportada\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 509,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Valor max. de potencia activa en el periodo de demanda\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 511,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Valor min. de potencia activa en el periodo de demanda\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"W\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 513,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Valor max. de potencia reactiva en el periodo de demanda\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 515,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Valor min. de potencia reactiva en el periodo de demanda\",\n        \"Formato\": \"Float\",\n        \"Unidad\": \"var\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 517,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Duracion del periodo de demanda periodo actual\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"s\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 519,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Tiempo desde comienzo de periodo de demanda actual\",\n        \"Formato\": \"Unsigned long\",\n        \"Unidad\": \"s\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"R\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 799,\n        \"Cantidad\": 2,\n        \"Nombre\": \"Fecha/hora\",\n        \"Formato\": \"Unix_ts\",\n        \"Unidad\": \"\",\n        \"Rango admitido\": \"\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 801,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia activa total importada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 805,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia activa total importada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 809,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia activa total exportada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 813,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia activa total exportada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 817,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia reactiva total importada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 821,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia reactiva total importada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 825,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia reactiva total exportada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 829,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia reactiva total exportada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 833,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia aparente total, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"VAh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 837,\n        \"Cantidad\": 4,\n        \"Nombre\": \"Energia aparente total, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"VAh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Energas\"\n    },\n    {\n        \"Offset\": 841,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia activa importada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 845,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia activa importada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 849,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia activa exportada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 853,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia activa exportada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 857,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia reactiva importada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 861,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia reactiva importada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 865,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia reactiva exportada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 869,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia reactiva exportada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 873,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia aparente, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"VAh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 877,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L1 energia aparente, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"VAh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 881,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia activa importada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 885,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia activa importada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 889,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia activa exportada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 893,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia activa exportada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 897,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia reactiva importada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 901,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia reactiva importada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 905,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia reactiva exportada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 909,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia reactiva exportada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 913,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia aparente, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"VAh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 917,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L2 energia aparente, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"VAh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 921,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia activa importada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 925,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia activa importada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 929,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia activa exportada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 933,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia activa exportada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 937,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia reactiva importada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 941,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia reactiva importada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"Wh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 945,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia reactiva exportada, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 949,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia reactiva exportada, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"varh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 953,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia aparente, tarifa 1\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"VAh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    },\n    {\n        \"Offset\": 957,\n        \"Cantidad\": 4,\n        \"Nombre\": \"L3 energia aparente, tarifa 2\",\n        \"Formato\": \"Double\",\n        \"Unidad\": \"VAh\",\n        \"Rango admitido\": \"Overflow 1.0e+12\",\n        \"Acceso\": \"RW\",\n        \"typeField\": \"Otros\"\n    }\n]",
        "output": "str",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "30738b4f1c0ef6b5"
            ]
        ]
    },
    {
        "id": "30738b4f1c0ef6b5",
        "type": "json",
        "z": "2f7d495596847cc6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "c21e14847aaf460b"
            ]
        ]
    },
    {
        "id": "c21e14847aaf460b",
        "type": "split",
        "z": "2f7d495596847cc6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "e043225d2081126f"
            ]
        ]
    },
    {
        "id": "e043225d2081126f",
        "type": "switch",
        "z": "2f7d495596847cc6",
        "name": "",
        "property": "payload.Nombre",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "FIELDS",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "a2432bf6c5f381fa"
            ]
        ]
    },
    {
        "id": "a2432bf6c5f381fa",
        "type": "function",
        "z": "2f7d495596847cc6",
        "name": "function 2",
        "func": "const measurement = env.get(\"MEASUREMENT\")\nconst location = env.get(\"LOCATION\")\nconst operation = env.get(\"OPERATION\")\n\nconst payload = msg.payload\nmsg.payload={\n    fc:3,\n    unitid:\"2\",\n    address:payload.Offset,\n    quantity:payload.Cantidad\n}\nmsg.topic={\n    fields:payload.Nombre,\n    unidad:payload.Unidad,\n    measurement:measurement,\n    location:location,\n    operation:operation,\n    timestamp:msg.timestamp,\n    typeField:payload.typeField,\n    formato:payload.Formato\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 83,
        "wires": [
            [
                "af11402378abbe7a"
            ]
        ]
    },
    {
        "id": "af11402378abbe7a",
        "type": "change",
        "z": "2f7d495596847cc6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "typeField",
                "pt": "msg",
                "to": "FIELDS",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 80,
        "wires": [
            [
                "2ce4b2675b0b1ab8"
            ]
        ]
    },
    {
        "id": "b0bdb7126ead267e",
        "type": "status",
        "z": "2f7d495596847cc6",
        "name": "",
        "scope": null,
        "x": 160,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a918ad0fee360bf4",
        "type": "catch",
        "z": "2f7d495596847cc6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2ce4b2675b0b1ab8",
        "type": "function",
        "z": "2f7d495596847cc6",
        "name": "dot",
        "func": "const topic = msg.topic\nnode.status({ fill: \"green\", shape: \"dot\", text: topic.fields });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3991c8c532f9a2fa",
        "type": "buffer-parser",
        "z": "b653d8ea62c0e0fd",
        "name": "",
        "data": "payload.buffer",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "item",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "0e0ed001b5a05aea"
            ]
        ]
    },
    {
        "id": "0e0ed001b5a05aea",
        "type": "switch",
        "z": "b653d8ea62c0e0fd",
        "name": "chkErrorMessage",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "5d40ba0b231f1722"
            ]
        ],
        "icon": "font-awesome/fa-stop-circle"
    },
    {
        "id": "fd1e75ae7f005c1f",
        "type": "function",
        "z": "b653d8ea62c0e0fd",
        "name": "Form Data",
        "func": "const topic = msg.topic;  \nconst payload = msg.payload;  \nmsg.payload = [  \n    {  \n        measurement: topic.measurement,  \n        fields: {[topic.fields]: payload.item},\n        tags: {  \n            location: topic.location,  \n            operation: topic.operation,  \n            typeField: topic.typeField  \n        },  \n        timestamp: new Date(topic.timestamp)  \n    }  \n];  \nreturn msg;  ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5d40ba0b231f1722",
        "type": "function",
        "z": "b653d8ea62c0e0fd",
        "name": "dot",
        "func": "const topic = msg.topic\nnode.status({ fill: \"green\", shape: \"dot\", text: topic.fields });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 80,
        "wires": [
            [
                "fd1e75ae7f005c1f"
            ]
        ]
    },
    {
        "id": "4f97854e4dca6d9b",
        "type": "status",
        "z": "b653d8ea62c0e0fd",
        "name": "",
        "scope": null,
        "x": 160,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc9825192f70f66",
        "type": "catch",
        "z": "b653d8ea62c0e0fd",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "267455ca49a28c1f",
        "type": "buffer-parser",
        "z": "b653d8ea62c0e0fd",
        "name": "",
        "data": "payload.buffer",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "doublebe",
                "name": "item",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 210,
        "y": 160,
        "wires": [
            [
                "c1bf325e4c6962f0"
            ]
        ]
    },
    {
        "id": "c1bf325e4c6962f0",
        "type": "switch",
        "z": "b653d8ea62c0e0fd",
        "name": "chkErrorMessage",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "68de3cee39e7901e"
            ]
        ],
        "icon": "font-awesome/fa-stop-circle"
    },
    {
        "id": "aa819b2ac5528b30",
        "type": "function",
        "z": "b653d8ea62c0e0fd",
        "name": "Form Data",
        "func": "const topic = msg.topic;  \nconst payload = msg.payload;  \nmsg.payload = [  \n    {  \n        measurement: topic.measurement,  \n        fields: {[topic.fields]: payload.item},\n        tags: {  \n            location: topic.location,  \n            operation: topic.operation,  \n            typeField: topic.typeField  \n        },  \n        timestamp: new Date(topic.timestamp)  \n    }  \n];  \nreturn msg;  ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "68de3cee39e7901e",
        "type": "function",
        "z": "b653d8ea62c0e0fd",
        "name": "dot",
        "func": "const topic = msg.topic\nnode.status({ fill: \"green\", shape: \"dot\", text: topic.fields });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "aa819b2ac5528b30"
            ]
        ]
    },
    {
        "id": "6e7bced7ece66dc8",
        "type": "switch",
        "z": "b653d8ea62c0e0fd",
        "name": "",
        "property": "topic.formato",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Float",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "3991c8c532f9a2fa"
            ],
            [
                "267455ca49a28c1f"
            ]
        ]
    },
    {
        "id": "4dd6f690b36fc4c1",
        "type": "modbus-read",
        "z": "3b186e5e67d66947",
        "d": true,
        "name": "PC3100",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "80",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3d6654dd538c3a69",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "ec6b80c896c85d7b",
                "c68f60276ffac60c",
                "e63be8f82b14fa47",
                "00cfdc96672aae16",
                "9709a6d237c3b6d9",
                "a4096476e022b8a4",
                "b33db6f7f4ba756d"
            ],
            []
        ]
    },
    {
        "id": "6efc135b436378c4",
        "type": "catch",
        "z": "3b186e5e67d66947",
        "name": "",
        "scope": [
            "4dd6f690b36fc4c1",
            "ec6b80c896c85d7b"
        ],
        "uncaught": false,
        "x": 70,
        "y": 680,
        "wires": [
            [
                "022b89c1213e6cf3"
            ]
        ]
    },
    {
        "id": "022b89c1213e6cf3",
        "type": "debug",
        "z": "3b186e5e67d66947",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 680,
        "wires": []
    },
    {
        "id": "ec6b80c896c85d7b",
        "type": "subflow:d9995de5c328ea80",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "env": [
            {
                "name": "FIELDS",
                "value": "voltages",
                "type": "str"
            },
            {
                "name": "MEASUREMENT",
                "value": "PAC3100",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 60,
        "wires": [
            [
                "9cf91e83c600ed07"
            ],
            []
        ]
    },
    {
        "id": "9cf91e83c600ed07",
        "type": "link out",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "mode": "link",
        "links": [
            "b30ab5bc614dc52a"
        ],
        "x": 495,
        "y": 240,
        "wires": []
    },
    {
        "id": "c68f60276ffac60c",
        "type": "subflow:d9995de5c328ea80",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "env": [
            {
                "name": "FIELDS",
                "value": "currents",
                "type": "str"
            },
            {
                "name": "MEASUREMENT",
                "value": "PAC3100",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 120,
        "wires": [
            [
                "9cf91e83c600ed07"
            ],
            []
        ]
    },
    {
        "id": "e63be8f82b14fa47",
        "type": "subflow:d9995de5c328ea80",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "env": [
            {
                "name": "FIELDS",
                "value": "energy",
                "type": "str"
            },
            {
                "name": "MEASUREMENT",
                "value": "PAC3100",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "9cf91e83c600ed07"
            ],
            []
        ]
    },
    {
        "id": "00cfdc96672aae16",
        "type": "subflow:d9995de5c328ea80",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "env": [
            {
                "name": "FIELDS",
                "value": "aparent_power",
                "type": "str"
            },
            {
                "name": "MEASUREMENT",
                "value": "PAC3100",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "9cf91e83c600ed07"
            ],
            []
        ]
    },
    {
        "id": "9709a6d237c3b6d9",
        "type": "subflow:d9995de5c328ea80",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "env": [
            {
                "name": "FIELDS",
                "value": "active_power",
                "type": "str"
            },
            {
                "name": "MEASUREMENT",
                "value": "PAC3100",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "9cf91e83c600ed07"
            ],
            []
        ]
    },
    {
        "id": "a4096476e022b8a4",
        "type": "subflow:d9995de5c328ea80",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "env": [
            {
                "name": "FIELDS",
                "value": "reactive_power",
                "type": "str"
            },
            {
                "name": "MEASUREMENT",
                "value": "PAC3100",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "9cf91e83c600ed07"
            ],
            []
        ]
    },
    {
        "id": "b33db6f7f4ba756d",
        "type": "subflow:d9995de5c328ea80",
        "z": "3b186e5e67d66947",
        "name": "PAC3100",
        "env": [
            {
                "name": "FIELDS",
                "value": "maximun",
                "type": "str"
            },
            {
                "name": "MEASUREMENT",
                "value": "PAC3100",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "9cf91e83c600ed07"
            ],
            []
        ]
    },
    {
        "id": "908bf22cad2f4f94",
        "type": "measure",
        "z": "3b186e5e67d66947",
        "name": "",
        "unitId": "2",
        "device": "pac3100",
        "deviceProtection": "5st3com",
        "data": "currentL1",
        "x": 320,
        "y": 800,
        "wires": [
            [
                "bf9b7d80462b1fb0"
            ]
        ]
    },
    {
        "id": "029814aed7d8887a",
        "type": "modbus-flex-getter",
        "z": "3b186e5e67d66947",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "3d6654dd538c3a69",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 710,
        "y": 1000,
        "wires": [
            [],
            [
                "bf9b7d80462b1fb0",
                "801b4e76a9159546"
            ]
        ]
    },
    {
        "id": "b97f6736d122a8dd",
        "type": "inject",
        "z": "3b186e5e67d66947",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "908bf22cad2f4f94"
            ]
        ]
    },
    {
        "id": "bf9b7d80462b1fb0",
        "type": "debug",
        "z": "3b186e5e67d66947",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 840,
        "wires": []
    },
    {
        "id": "801b4e76a9159546",
        "type": "buffer-parser",
        "z": "3b186e5e67d66947",
        "name": "",
        "data": "payload.buffer",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "item1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 710,
        "y": 960,
        "wires": [
            [
                "bf9b7d80462b1fb0"
            ]
        ]
    },
    {
        "id": "67670e0a23c7c85a",
        "type": "function",
        "z": "3b186e5e67d66947",
        "name": "function 1",
        "func": "msg.payload={\n    fc:3,\n    unitid:\"2\",\n    address:65,\n    quantity:2\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1000,
        "wires": [
            [
                "029814aed7d8887a"
            ]
        ]
    },
    {
        "id": "a4c90bae6aa79b0a",
        "type": "inject",
        "z": "3b186e5e67d66947",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "67670e0a23c7c85a"
            ]
        ]
    },
    {
        "id": "a67f462e1084ce13",
        "type": "catch",
        "z": "0efdf67341d4e0cb",
        "name": "",
        "scope": [
            "06cb979c645722f3",
            "b8824211ab188202",
            "4ee66960f650d992"
        ],
        "uncaught": false,
        "x": 90,
        "y": 780,
        "wires": [
            [
                "e6ad337b578ed828"
            ]
        ]
    },
    {
        "id": "e6ad337b578ed828",
        "type": "debug",
        "z": "0efdf67341d4e0cb",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 780,
        "wires": []
    },
    {
        "id": "b30ab5bc614dc52a",
        "type": "link in",
        "z": "0efdf67341d4e0cb",
        "name": "to Write DB Influx",
        "links": [
            "9cf91e83c600ed07"
        ],
        "x": 285,
        "y": 100,
        "wires": [
            [
                "06cb979c645722f3",
                "30d396707fbbe3c9"
            ]
        ]
    },
    {
        "id": "06cb979c645722f3",
        "type": "influxdb batch",
        "z": "0efdf67341d4e0cb",
        "influxdb": "297134d2189fba48",
        "precision": "",
        "retentionPolicy": "",
        "name": "Ultracem Influx",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ultracem",
        "bucket": "PAC",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "30d396707fbbe3c9",
        "type": "debug",
        "z": "0efdf67341d4e0cb",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "b8824211ab188202",
        "type": "influxdb batch",
        "z": "0efdf67341d4e0cb",
        "influxdb": "297134d2189fba48",
        "precision": "",
        "retentionPolicy": "",
        "name": "Ultracem Influx",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ultracem",
        "bucket": "PAC3120",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "4ba3a3022062f30d",
        "type": "link in",
        "z": "0efdf67341d4e0cb",
        "name": "Bucket PAC3120",
        "links": [
            "d291defeca0ae826"
        ],
        "x": 285,
        "y": 300,
        "wires": [
            [
                "b8824211ab188202"
            ]
        ]
    },
    {
        "id": "d37435b305574a3c",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "d5746775f9c123dc",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Tension L1-L2",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "fce0a9cd8b972c1c",
        "type": "inject",
        "z": "839b4ad968606fb0",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "iso",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "d37435b305574a3c",
                "1c5fef79c9cbdd5a",
                "fb6171c3b81a634d",
                "5111677f905fd3ca",
                "06cc89108ec8e303",
                "bc2c87999bfb01b1",
                "e5b5ddbdf1d4afdb",
                "a5e7a8a52a988c24",
                "9ebbe76b3c443dd5",
                "46869232d90d0307",
                "ad0fc14d73d7fc39",
                "97b59d879caad1e7",
                "4485af6a28cf9dae",
                "d60b567f4abc24ab",
                "cfff6c976c2f69b7",
                "15da02d8888b957f",
                "da3d2d3271a37bdf",
                "0972c45b6bddcffd"
            ]
        ]
    },
    {
        "id": "ddaacc6c551b80e7",
        "type": "modbus-flex-getter",
        "z": "839b4ad968606fb0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "80444d4b22966a9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 560,
        "y": 700,
        "wires": [
            [],
            [
                "760f08678e935024"
            ]
        ]
    },
    {
        "id": "2e8bb6e9254316be",
        "type": "debug",
        "z": "839b4ad968606fb0",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 900,
        "wires": []
    },
    {
        "id": "760f08678e935024",
        "type": "subflow:b653d8ea62c0e0fd",
        "z": "839b4ad968606fb0",
        "name": "",
        "x": 700,
        "y": 740,
        "wires": [
            [
                "d291defeca0ae826",
                "2e8bb6e9254316be"
            ]
        ]
    },
    {
        "id": "d291defeca0ae826",
        "type": "link out",
        "z": "839b4ad968606fb0",
        "name": "PAC3120",
        "mode": "link",
        "links": [
            "4ba3a3022062f30d"
        ],
        "x": 905,
        "y": 900,
        "wires": []
    },
    {
        "id": "1c5fef79c9cbdd5a",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "d5746775f9c123dc",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Tension L2-L3",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "fb6171c3b81a634d",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "d5746775f9c123dc",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Tension L3-L1",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "5111677f905fd3ca",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "d5746775f9c123dc",
        "name": "",
        "env": [
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "06cc89108ec8e303",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "d5746775f9c123dc",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Tension L2-N",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "bc2c87999bfb01b1",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "d5746775f9c123dc",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Tension L3-N",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 400,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "e5b5ddbdf1d4afdb",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "162c23daca893dea",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Corriente L1",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "a5e7a8a52a988c24",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "162c23daca893dea",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Corriente L2",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 560,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "9ebbe76b3c443dd5",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "162c23daca893dea",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Corriente L3",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 620,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "46869232d90d0307",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "df86fd4d2cb2aba2",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Potencia aparente total",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 720,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "ad0fc14d73d7fc39",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "df86fd4d2cb2aba2",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Potencia activa total",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 780,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "97b59d879caad1e7",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "df86fd4d2cb2aba2",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Potencia reactiva total",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 840,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "4485af6a28cf9dae",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "df86fd4d2cb2aba2",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Factor de potencia total",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 900,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "d60b567f4abc24ab",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "df86fd4d2cb2aba2",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Frecuencia",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 960,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "cfff6c976c2f69b7",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Energia activa total importada, tarifa 1",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "922816aec3383140"
            ]
        ]
    },
    {
        "id": "15da02d8888b957f",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "f654a5bf4947aba9",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Potencia activa L1",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 1140,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "da3d2d3271a37bdf",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "f654a5bf4947aba9",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Potencia activa L2",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 1200,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "0972c45b6bddcffd",
        "type": "subflow:2f7d495596847cc6",
        "z": "839b4ad968606fb0",
        "g": "f654a5bf4947aba9",
        "name": "",
        "env": [
            {
                "name": "FIELDS",
                "value": "Potencia activa L3",
                "type": "str"
            },
            {
                "name": "LOCATION",
                "value": "Ultracem",
                "type": "str"
            },
            {
                "name": "OPERATION",
                "value": "Concreto",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 1260,
        "wires": [
            [
                "ddaacc6c551b80e7"
            ]
        ]
    },
    {
        "id": "922816aec3383140",
        "type": "modbus-flex-getter",
        "z": "839b4ad968606fb0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "80444d4b22966a9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 560,
        "y": 1040,
        "wires": [
            [],
            [
                "f2f3c94c50cb6e72"
            ]
        ]
    },
    {
        "id": "067c9b1b7d33c84c",
        "type": "debug",
        "z": "839b4ad968606fb0",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f2f3c94c50cb6e72",
        "type": "subflow:b653d8ea62c0e0fd",
        "z": "839b4ad968606fb0",
        "name": "",
        "x": 720,
        "y": 1080,
        "wires": [
            [
                "d291defeca0ae826",
                "067c9b1b7d33c84c"
            ]
        ]
    }
]